<h1 id="aaa">機能2: 文字列コピー</h1>
<div>
  <a href="https://developer.mozilla.org/ja/docs/Web/API/Clipboard/writeText"
    >方法1: Clipboard.writeText()</a
  >
  <span>全ブラウザOK</span>
  <button (click)="onClickTextCopy1()">現在時刻をCopy</button>
</div>

<hr />

<h1>機能3: 画像コピー</h1>

<img id="lenna" width="200" src="/assets/lenna.png" />

<div>
  <a href="https://developer.mozilla.org/ja/docs/Web/API/Clipboard/write"
    >方法1: Clipboard.write()</a
  >
  <span>Safari以外OK</span>
  <button (click)="onClickImageCopy1()">画像をCopy</button>
</div>

<div>
  <a href="https://web.dev/i18n/ja/async-clipboard/#write"
    >方法2: Clipboard.write()</a
  >
  <span>Firefox以外OK</span>
  <button (click)="onClickImageCopy2()">画像をCopy</button>
</div>

<hr />

<h1 id="aaa">機能4: 文字列+リンクコピー</h1>
<div>
  <a href="https://developer.mozilla.org/ja/docs/Web/API/Clipboard/write"
    >方法1: Clipboard.write()</a
  >
  <span>Chromeは確認済み</span>
  <button (click)="onClickLinkedTextCopy1()">現在時刻をCopy</button>
</div>
<div>
  <a href="https://www.seeds-std.co.jp/blog/creators/2019-10-25-105135/"
    >方法2: execCommand('copy')</a
  >
  <span>Chromeは確認済み</span>
  <button (click)="onClickLinkedTextCopy2()">↓リンク付き文字列をCopy</button>
  <div>
    <a id="linkedText" href="https://test-link.com">Linked Text</a>
  </div>
</div>

<hr />

<h1 id="aaa">機能5: 画像+文字列コピー</h1>
<div>
  <a href="https://developer.mozilla.org/ja/docs/Web/API/Clipboard/write"
    >方法1: Clipboard.write()</a
  >
  <span>Chromeは確認済み</span>
  <button (click)="onClickImageAndTextCopy1()">画像と現在時刻をCopy</button>
</div>
