<h1>機能4: 文字列コピぺ</h1>
<div>
  <span>方法1: </span>
  <a href="https://material.angular.io/cdk/clipboard/overview"
    >Angular Clipboard でTextをCopy</a
  >
  <button (click)="onClickTextCopy()">Copy</button>
  <br />
  <span>Paste先の確認</span>
  <table border="1">
    <tr>
      <th>Copy元ブラウザ (OS)</th>
      <th>Paste先アプリ (OS / 実行場所 / 型番)</th>
      <th>Copy結果</th>
      <th>Paste結果</th>
    </tr>
    <tr>
      <td>chrome (WindowsOS)</td>
      <td>PowerPoint (WindowsOS / デスクトップ / MS365ForAppsEnterprise)</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <td>chrome (WindowsOS)</td>
      <td>PowerPoint (WindowsOS / chrome / -)</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <td>chrome (MacOS)</td>
      <td>PowerPoint (MacOS / デスクトップ / MSPowerPointForMac)</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <td>chrome (WindowsOS)</td>
      <td>Slack (WindowsOS / デスクトップ / -)</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <td>chrome (WindowsOS)</td>
      <td>Slack (WindowsOS / chrome / -)</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <td>chrome (WindowsOS)</td>
      <td>GoogleSlide (WindowsOS / chrome / -)</td>
      <td>O</td>
      <td>O</td>
    </tr>
  </table>
  <span>Copy元の確認</span>
  <table border="1">
    <tr>
      <th>Copy元ブラウザ (OS)</th>
      <th>Paste先アプリ (OS / 実行場所 / 型番)</th>
      <th>Copy結果</th>
      <th>Paste結果</th>
    </tr>
    <tr>
      <td>edge (WindowsOS)</td>
      <td>GoogleSlide (WindowsOS / chrome / -)</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <td>firefox (WindowsOS)</td>
      <td>GoogleSlide (WindowsOS / chrome / -)</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <td>safari (MacOS)</td>
      <td>GoogleSlide (MacOS / chrome / -)</td>
      <td>O</td>
      <td>O</td>
    </tr>
  </table>
</div>
